<div class="hero-unit">
	<h1 class="heading">Help / Reference</h1>
	<p>Here you can find some basic information for operating the website.</p>
</div>

<div id="helpContent">
	<nav id="tableOfContents">
		<a class="articleLink" href="#productCreation">Product Creation</a>
		<a class="articleLink" href="#variantCreation">Variant Creation</a>
		<a class="articleLink" href="#productEdits">Editing Products and Variants</a>
		<a class="articleLink" href="#productCreation">Product/Variant Creation</a>

	</nav>
	
	<article>
		<h2 class="heading" id="productCreation">Creating Products</h2>
		<div class="content">
			<p>Click on 'Products' in the top menu.  Then click on 'New Product.'</p>
			<p>In the window that opens, enter some details about the product.  A name, weight, and price are required.  Click 'Create' and the product and its first variation will be created.</p>
			<p><b>When you first create a product, it will be active but <i>out of stock.</i> as noted by the label next to both the product and variation name.</b>  More on this later, but to stock the product immediately just click the 'Re-Stock All' button below the product image.</p>
		</div>
	</article>
	
	<article>
		<h2 class="heading" id="variantCreation">Creating Variants</h2>
		<div class="content">
			<p>Once you've created a product you might want to add a few variants.  If you aren't already on a product page, click on 'Products' in the top menu and click on a product, its name, or the 'details' button.  </p>
			<p>Below the product picture you can click the 'Add New Variant' button to bring up a new window.  There enter some details about the product variant and click 'Create.'  <b>Just like a newly created product, a variant will be initially out of stock.</b>  You can click "Re-Stock" under the corresponding variation you wish to restock.</p>
		</div>
	</article>
	
	<article>
		<h2 class="heading" id="productEdits">Editing Products and Variants</h2>
		<div class="content">
			<p>You can edit a product or variant by navigating to the product page.</p>
			<h3> Editing Products</h3>
			<p>Click on 'Edit Product Details.'</p><p>  There you can change the product's category, subcategory, and alternate names.</p>
			<h3> Editing Variants</h3>
			<p></p>
		</div>
	</article>
	
	<article>
		<h2 class="heading" id="articleName">Article Name</h2>
		<div class="content">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</article>
	
</div>