<% title " - About Us" %>

<hr>
<%= content_tag :h2, @about.title, class: "main" %>
<span id='about'>
	<div id="aboutContent">

		<%= content_tag :div, simple_format(@about.content) %>
	</div>
<%= image_tag @about.image.url(:large), class: "aboutPic" %>


<%= render :partial => 'the_cart' %>
</span>