<% title " - About Us" %>

<hr>
<%= content_tag :h2, @about.title, class: "main" %>
<%= image_tag @about.image.url(:large), class: "aboutPic" %>
<div id="aboutContent">

	<%= content_tag :div, @about.content %>
</div>

<%= render :partial => 'the_cart' %>
