<hr>
<h2 class='main'>Thank You!</h2>

<div id="aboutContent">
	<div>
	We've confirmed your payment and have sent you an e-mail with some details regarding your order. Thanks for shopping with Philadelphia Spice Trader.
	</div>
</div>