<fieldset class="price">
		<div class="priceWeight">
			<%= label_tag :weight, "Weight:" %>
			<%= text_field_tag :weight %>
			
			<%= label_tag :price, "Price:" %>
			<%= text_field_tag :price %>
		</div>
			
		
</fieldset>