
.headFloat{
	margin-bottom:1px;
}

h1,h2, h3, h4{
	font-family: "Klinic Slab" !important;
}

textarea{
	width: auto !important;
	height: auto !important;
}

@import "bootstrap";

body{
   min-width:780px; // suppose you want minimun width of 1000px
   _width: expression( document.body.clientWidth > 780 ? "780px" : "auto" ); /* sets max-width for IE */
}

$lightBlue:rgb(236, 244, 250);
ul{
	list-style:none;
	padding-left:0px;
	margin-left:0px;
}

#productShow{
	h1{
		text-align:left;
	}
	#category{
		
	}
	.featuredImg{
		margin: 10px 0 ;
		display:block;
	}
	div#variants{
		float:left;
		clear:both;
		width:100%;
		position:relative;
		ul{
			margin-top:20px;
			li.variant{
				margin-bottom:20px;
				ul.pricesWeights{
					margin-bottom:20px;
					li.priceWeight{
						span{
							width:170px;
							display:inline-block;
							line-height: 25px;
							vertical-align: middle;
							}
						}
					}
				}
			}
		}

	.variant{
		padding: 5px;
		margin-bottom:2px;
		h3{
			display:inline-block;
			margin-top:0px;
		}
		#status{
			display:block;
		}
		p{
			margin-top:5px;
			font-style:italic;
		}
	
	}
	.variant.odd{
		background-color: $lightBlue;
	}
}

#productSide{
	#categories{
		margin-bottom:10px;
	}
	
	ul.products{
		
		li{
			cursor:pointer;
			width:95%;
			position:relative;
		}
		li:hover{
			background:rgba(#bc1900, .2);
		}
	}
	.odd{
			background-color: $lightBlue;
		}
}

.categories{
	.odd{
			background-color: $lightBlue;
		}
	li{
		margin-bottom:20px;
		.action{

		}
		ul{
			margin-top:15px;
			margin-left:20px;
		}
	}
}