// MIXINS + INCLUDES

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}
@mixin gradient($from, $to) {
  background: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
  background: -moz-linear-gradient(top,  $from, $to);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$from}', endColorstr='#{$to}');
}
@mixin rounded($radius: 0.5em) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin button($color: $red, $text_color: $white) {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 14px/100% Arial, Helvetica, sans-serif;
  padding: .5em 2em .55em;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  @include rounded();
  @include box-shadow(0, 1px, 2px, rgba(0, 0, 0, 0.2));
 
  color: $text_color !important;
  font-weight: bold;
  border: solid 1px darken($color, 18%);
  background: $color;
  @include gradient(saturate($color, 15%), darken($color, 15%));
 
  &:hover {
    text-decoration: none;
    background: saturate($color, 10%);
    @include gradient(saturate($color, 5%), darken($color, 5%));
  }
 
  &:active {
    position: relative;
    top: 1px;
    color: saturate($color, 15%);
    @include gradient(saturate($color, 15%), lighten($color, 15%));
  }
}

.clearfix {
    zoom:1;
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}

/**
 * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
 * Richard Clark (http://richclarkdesign.com)
 * http://cssreset.com
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}



// FONTS

@font-face {
    font-family: 'chelsea';
    src: url('fonts/chelsea-webfont.eot');
    src: url('fonts/chelsea-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/chelsea-webfont.woff') format('woff'),
         url('fonts/chelsea-webfont.ttf') format('truetype'),
         url('fonts/chelsea-webfont.svg#chelsearegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ofl';
    src: url('fonts/oflgoudystmtt-webfont.eot');
    src: url('fonts/oflgoudystmtt-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/oflgoudystmtt-webfont.woff') format('woff'),
         url('fonts/oflgoudystmtt-webfont.ttf') format('truetype'),
         url('fonts/oflgoudystmtt-webfont.svg#ofl_sorts_mill_goudy_ttRg') format('svg');
    font-weight: normal;
    font-style: normal;

}


// COLOR VARIABLES
$beige : #EFEFD9;
$maroon : #631214;
$green : #B2B24B;
$white : #ffffff;
$black : #000000;


// Some common styles

body{
	width:100%;
	font-size:100%;
	line-height: 1.125em;

}

div,p{
	font-family: 'Open Sans', sans-serif;
	line-height:1.8em;
}

img{
	max-width:100%;
}

h2{
	color:$maroon;
	padding: .5em 1em;
	width:auto;

	text-align:center;
	text-transform:lowercase;
	font-family:'chelsea', serif;
	font-size:3.6em;
	font-weight:normal;
	letter-spacing:.02em;
	margin:auto;
	
	
}

h3{
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
}


#wrapper{
	width:96%;
	max-width:1200px;
	margin: auto;
	padding: 0%;
}

//header

header#front{
	width:100%;
	height:auto;
	background-color:$beige;
	color:$black;
	padding:20px 0 20px;
	
	img{
		width:70%;
		margin:auto;
		display:block;
	}
	nav{
		margin-top:10px;
		div{
			display:block;
			width:100%;
			text-align:center;
				a{
					margin:0 .1em;
					color:$black;
					text-transform:lowercase;
					text-decoration:none;
					font-size:1.2em;
					font-weight:bold;

				}
				.active{
					color:$maroon;
				}
				
		}
	}
}


// front page

h2.main{
	text-align:center;
	margin-bottom:20px;
	position:relative;
	top:-1px;
	padding:.5em 0px;
	line-height:.8em;
}
h2.review{
	font-size:4em;
}
h2.shipping{
	font-size:2.2em;
	margin-bottom:0px;
	padding-bottom:0px;
}
h2.featured{
	text-align:center;
	margin:0 auto 20px auto;
	position:relative;
	top:-1px;
	font-size:3.6em;
}

hr{
	margin-bottom:0px;
	padding-bottom:0px;
	display:none;
}

#mainSlider{
	width:76%;
	margin: 0 auto;
	position:relative;
	.bjqs-prev{
		
		a{
			width:150px;
			height:180px;
		//	span.nextAarow{
		//			display:none;
		//						cursor:pointer;
		//		display:block;
		//		width:65px;
		//		height:42px;
    //
		//	  background: url(aarow.png) 0 0 no-repeat;
		//		background-size:40px;
		//		position:absolute;
		//		top:50%;
		//	}
		}
	}
	.bjqs-next{
	
		a{
			width:70px;
			height:150px;
		//	span.prevAarow{
		//			display:none;
		//		cursor:pointer;
		//		display:block;
		//		width:65px;
		//		height:42px;
		//	  background: url(aarow.png) 0 0 no-repeat;
		//	     -webkit-transform: rotate(180deg);
		//	     -moz-transform: rotate(180deg);
		//	     -ms-transform: rotate(180deg);
		//	     -o-transform: rotate(180deg);
		//	     transform: rotate(180deg);
		//	  background-size:40px;
		//		position:absolute;
		//		top:50%;
		//	}
		}
	}
}

.featuredSlice{
	@extend .clearfix;
	margin-top:50px;
	background:$beige;
	padding:10px 0 30px 0;
	width:100%;
	
	hr{
		width:30%;
	}
	
	img{
		min-width:130px;
		width:33.5%;
		float:left;
		margin:0 4.5%;
	}
	
	p{
		margin: 0 4.5%;
	}
}

#catalogueFeature{
	margin-top:15px;
	background:$white;
	h2{
		padding: .5em 0em;
	}
}


// ------------- CATALOGUE PAGE

h2#productCategories{
	text-align:center;
	color:$black;
	position:relative;
	top:-1px;
	margin-bottom:50px;
	background:$white;
	font-size:2em;
	span{
		margin:0 5px;
		a{
			color:$black;
			font-decoration:none;
		}
	}
}

#mainList{
	width:100%;
	#subcategories{
		width:100%;
	
		li{
			width:100%;
			float:left;
			clear:both;
			position:relative;
			
			h4.opener{
				width:100%;
				background-color:$beige;
				color:black;
				font-family: "chelsea", serif;
				font-size:1.6em;
				padding:8px 0 5px 0;
				text-align:center;
				margin-bottom:40px;
				cursor:pointer;
				font-weight:100;
				}
				h4.active{
					cursor:auto;
				}
			ul.subcategory{
				padding-left:20px;
				list-style:none;
				li{
					margin:0 0 20px 0;
						img{
							width:20%;
							vertical-align:text-bottom;
					
						}
						a{
							position:relative;
							color:$black;
							margin:0 20px 0 10px;
							font-size:2em;					
						}
						form{
							padding-top:10px;
							display:block;
							width:100%;
							text-align:left;
					
						}
					}
			}
		}
	}
}

// ------------- PRODUCT PAGE

h1#productName{
	font-family: 'chelsea', serif;
	font-size:2.5em;
	text-align:center;
	margin:30px 0;
	width:100%;
	background-color:$beige;
	padding:20px 0;
}

h2#productAlternates{
	width:90%;
	text-align:center;
	line-height:1.2em;
	position:relative;
	margin-top:20px;
	top:-1px;
	padding:0px;
	font-size:1.5em;	
}

img#productImage{
	width:90%;
	display:block;
	margin:auto;
}

div#productDescription{
	width:80%;
	text-align:center;
	margin:20px auto;
}

form{
	margin-bottom:20px;
	width:100%;
	text-align:center;
	font-family: 'chelsea', serif;
	span{
		margin:10px 0;
		display:block;
	}
	input[type="submit"]{
		@include button($color: $black, $text_color: $white)
	}
}

span.bottomImage{
	img{
		display:block;
		margin: 40px auto;
		width:110px;
	}
}

// ------------- ABOUT PAGE


img.aboutPic{
	display:block;
	margin: auto;
}

div#aboutContent{
	div{
		width:80%;
		text-align:center;
		margin: 50px auto;
	}
}
#about{
	h2.main{
		font-size:3.6em;
		line-height:1em;
		text-align:center;
		padding:0px;
		margin:30px auto;
	}
}

// ------------- CONTACT



div#contactContent{
	width:80%;
	text-align:center;
	margin: 50px auto;
}

form.contact{
	width:95%;
	margin: auto auto 40px auto;
	p{
		display:block;
		margin-bottom:20px;
		
		label{
			vertical-align:top;
			display:inline-block;
			width:10%;
			min-width:100px;
			text-align:left;
		}
		input, textarea{
			display:inline-block;
			width:50%;
			min-height:25px;
		}
		textarea{
			height:200px;
		}
		input[type="submit"]{
			text-align:right;

		}
	}
}

// ------------- FOOTER

footer{
	float:left;
	clear:both;
	@extend .clearfix;
	background-color:$green;
	padding:20px 3.5%;
	width:93%;
	text-align:center;
	font-family:'chelsea', serif;
	
	div{
		font-size:1.3em;
		font-family:'chelsea', serif;
		width:100%;
		position:relative;
		float:left;
	}
	img{
		position:relative;
		display:block;
		width:60%;
		margin: 20px auto;
	}
}

// --------------- CHECKOUT

div#checkoutText{
	width:80%;
	margin:20px auto;
	text-align:center;
}

div#orderItems{
	a.checkout{
		display:none;
	}
	#cartHead{
		padding-top:20px;
		text-align:center;
		font-family:"ofl", serif;
		text-transform:uppercase;
		color:$maroon;
		font-size:2em;
		display:none;
	}
	span.note{
		text-align:center;
		margin:20px auto;
		width:auto;
		display:block;
		color:$maroon;
		display:none;
	}
	.front-checkout{
		
		text-decoration:none;
	}
	.empty-cart{

		border:none;
		cursor:pointer;
	}
	h5{
		text-align:center;
		margin: 10px;

	}
	table{
		font-family: "Open Sans", serif;
		width:95%;
		margin:10px auto;
		text-align:center;
		tfoot{
			font-family: "Open Sans", serif;
			font-size:.6em;
			tr{
				td{
					font-family: "Open Sans", serif;
					font-size:1em;
					line-height:1.3em;
						font-weight:bold;
				}
			}
		}
		thead{
			text-align:center;
			font-weight:bold;
			font-family: "Open Sans", serif;
			font-size:1.1em;
			text-transform:uppercase;
			tr{
				
			th{
				font-size:.6em;
				padding-left:5px;
				line-height:1.2em;
			}
		}
		}

		tbody{

			tr{
				padding: 5px 0;
				margin-bottom:10px;
				height:25px;
				color:$black;
				background-color:#cccccc;
				.cost{
					width:40px !important;
				}
				td{

					max-width:50px;
					font-size:.6em;
					line-height:1.2em;
					padding:3px 0 3px 5px;
					border-bottom:white 10px solid;
				}
				.itemPrice{
					padding-left:20px;
				}
				.cartTotal{
					padding-left:20px;
				}
			}
		}
	}
	
}

form h4{
	font-size:2em;
	margin:20px;
	font-weight:100;
}

form.new_order{
	.label_error{
		
	}
	.field_with_errors{
		width:80%;
		display:inline-block;
		margin: 0 auto 20px auto;
		label{
			vertical-align:top;
			display:inline-block;
			width:100%;
			min-width:100px;
			text-align:left;
			color:red;
		}
		
		input{
			width:85%;
			display:inline-block;
			position:absolute;
		}
		
	}
	.label_error{
		min-width: 13% !important;
		width:auto;
		label{
			vertical-align:top;
			display:inline-block;
			width:100%;
			min-width:100px;
			text-align:left;
			color:red;
		}
	}
	width:95%;
	margin: auto auto 40px auto;
	p{
		display:block;
		margin:0 auto 20px auto;
		position:relative;
		text-align:left;
		width:80%;
		label{
			vertical-align:top;
			display:inline-block;
			width:13%;
			min-width:100px;
			text-align:left;
		}
		input, textarea{
			display:inline-block;
			width:85%;
			min-height:25px;
		}
		textarea{
			height:200px;
		}
		input[type="submit"]{
			text-align:right;

		}
	}
}



// --------------- CART
aside#cart{
	position:fixed;
	top:0%;
	right:-100%;
	z-index:9999;
	width:100%;
	height:100%;
	#closeCart{
		cursor:pointer;
		position:absolute;
		color:$black;
		right:	0px;
		bottom: 0px;
	}
	
	#cartTrigger{
		position:fixed;
		top:4%;
		right:0px;
		z-index:-1;
		cursor:pointer;
		
	
	}
	
	#theCart{
		overflow-y:scroll;
		height:100%;
		background:$white;
		background-image:url('ovals.png');
		background-repeat:no-repeat;
		background-position:right 10px;
		#cartHead{
			padding-top:20px;
			text-align:center;
			font-family:"ofl", serif;
			text-transform:uppercase;
			color:$maroon;
			font-size:1.4em;
			margin-bottom:10px;
		}
		span.note{
			text-align:center;
			margin:10px auto 20px auto;
			width:auto;
			display:block;
			color:$maroon;
		}
		.front-checkout{
		
			text-decoration:none;
		}
		.empty-cart{

			border:none;
			cursor:pointer;
		}
		h5{
			text-align:center;
			margin: 10px;

		}
		table{
			font-family: "Open Sans", serif;
			width:95%;
			margin:10px auto;
			text-align:center;
			tfoot{
				font-family: "Open Sans", serif;
				font-size:.6em;
				tr{
					td{
						font-family: "Open Sans", serif;
						font-size:1em;
						line-height:1.3em;
							font-weight:bold;
					}
				}
			}
			thead{
				text-align:center;
				font-weight:bold;
				font-family: "Open Sans", serif;
				font-size:1.1em;
				text-transform:uppercase;
				tr{
					
				th{
					font-size:.6em;
					padding-left:5px;
					line-height:1.2em;
				}
			}
			}

			tbody{

				tr{
					padding: 5px 0;
					margin-bottom:10px;
					height:25px;
					color:$black;
					background-color:#cccccc;
					.cost{
						width:40px !important;
					}
					td{

						max-width:50px;
						font-size:.6em;
						line-height:1.2em;
						padding:3px 0 3px 5px;
						border-bottom:white 10px solid;
					}
					.itemPrice{
						padding-left:20px;
					}
					.cartTotal{
						padding-left:20px;
					}
				}
			}
		}
form{
	margin-top:10px;
	input[type="submit"]{
		
		}
	}

	a.checkout{
		@include button($color: $maroon, $text_color: $white);
		text-align:center !important;
		display:block;
		margin:50px auto;
		width:100px;
	}
	span.checkoutTwig{
		background-image:url("sm_stem_mobile.png");
		background-repeat:no-repeat;
	
		left:20%;
		bottom:3%;
		height:20%;
		display:block;
		position:absolute;
		
	}
	span.flip{
		right:20%;
		left:auto !important;
		bottom: 4%;
	  -moz-transform: scaleX(-1);
	     -o-transform: scaleX(-1);
	     -webkit-transform: scaleX(-1);
	     transform: scaleX(-1);
	     filter: FlipH;
	     -ms-filter: "FlipH";
	}
}

}

// --------- ORDER REVIEW
#orderInformation{
	width:90%;
	margin: auto;
	text-align:center;
	h4{
		font-size:2em;
		margin:20px;
	}
	p{
		font-family: "ofl", serif;
	}
}

#grandTotal{
	text-align:center;
	font-size:30px;
	margin:20px auto;
}
// --------- RANDOM
#overlay{
	width:100%;
	height:100%;
	display:block;
	background-color: rgba(#000, .7);
	position: fixed;
	top: 0px;
	z-index:998
}



.editable-container{
	z-index: 9999999;
	padding:0px 3px;
	form{
		z-index: 9999999;
		margin-top:0px !important;
		input{
			z-index: 9999999;
			width:20px;
		}
		button{
			display:none;
		}
	}
}

#notice, .payment-errors{
	text-align:center;
	color:red;
	font-size:1.5em;
	font-family: "ofl", serif;
	margin-top:20px;
}

#addyCopy{
	@include button($color: $black, $text_color: $white);
	margin-bottom:10px;
}

@media only screen and (min-width: 768px) {
	// main rewrites
	h2{
		width:auto;
		font-size:8em;
	}

	// header and front
	body{
 	 header#front{
		 img{
		 max-width:550px;
	 		}
		 nav{
			 div{
				 font-size:2.2em;
			 	}
		  }
 	  }
	 
	 #mainSlider{
		 width:90%;
		 margin-bottom:140px;
	 }
	 
	 hr{
		 display:none;
	 }
	 h2.main{

		 margin:60px auto 50px auto;
		 padding:.3em 1em;
	 }
	 
	 h2.featured{
		
		 font-size:7em;
		 margin:40px auto 80px auto;
		  padding:.3em 1em;
	 }
	 
	 #featuredProduct{
		 img{
			 margin-right:30px;
		 }
		 hr{
		 	 width:100%;
		 }
		 h2.featured{
			 width:395px;
		 }
		 h3{
			 font-size:2.7em;
			 margin:50px auto 20px auto;
		 }
		 p{
			 font-size:1em;
			 line-height:1.8em;
		 }
	 }
	 
	 #catalogueFeature {
		 margin-bottom:30px;
		 	h2.featured {

			 padding:24px 48px;
		 	}
		 hr{
			 width:100%;
		 }
		 h3{
			 font-size:2.7em;
			 margin:50px auto 20px auto;
		 }
		 p{
			 font-size:1em;
			 line-height:1.8em;
			 padding-right:10%;
		 }
	 }
 
	}
	
	// CATALOG PAGE
	
	form#search{
		.btn{
			padding:.2em 1em;
			
		}
		a{
			@include rounded();
		}
		
	}
	
	h2#productCategories{
		margin-top:30px;
		width:59%;
		background:$white;
		font-size:1em;
		span{
			font-size:1em;
			a{
				color:$white;
				background:$maroon;
				padding:.08em 1em .2em 1em;
				 @include rounded();
				font-size:1.4em;
				text-decoration:none;
			}
		}
	}
	#subcategories{
		form{
		#line_item_price_id{
			  width: 240px;
			    height: 34px;
			    overflow: hidden;
			    border: 1px solid #ccc;
					background-color:#f7f7f7;
					font-size:18px;
					
			}
		}
		.productLeft{
			display:inline-block;
			width:30%;
		}
		.description{
			width:60%;
			display:inline-block;
		}
	}
	
	//product page
	
	#variantImage{
		img#productImage{
		width:600px;
		}
	}
	// About Page
	
	#about{
		h2.main{
			font-size:8em;
			line-height:1em;
			width:780px;
			padding:0px;
			margin:60px auto;
		}
	}
	
	// CART
	
	aside#cart{
		.empty{
			font-size:4em;
		}
		#closeCart{
			right:20px;
			bottom:0px;
		}
	
		#cartTrigger{
		}
	
		#theCart{
			overflow-y:scroll;
			height:100%;
			background:$white;
			background-image:url('ovals.png');
			background-repeat:no-repeat;
			background-position:right 10px;
			#cartHead{
				padding-top:40px;
				text-align:center;
				font-family:"ofl", serif;
				text-transform:uppercase;
				color:$maroon;
				font-size:2.4em;
				margin-bottom:10px;
			}
			span.note{
				text-align:center;
				margin:10px auto 20px auto;
				width:auto;
				display:block;
				color:$maroon;
			}
			.front-checkout{
		
				text-decoration:none;
			}
			.empty-cart{

				border:none;
				cursor:pointer;
			}
			h5{
				text-align:center;
				margin: 10px;

			}
			table{
				font-family: "Open Sans", serif;
				width:95%;
				margin:10px auto;
				text-align:center;
				tfoot{
					font-family: "Open Sans", serif;
					font-size:1.2em;
					tr{
						td{
							font-family: "Open Sans", serif;
							font-size:2em;
							line-height:1.9em;
								font-weight:bold;
						}
					}
				}
				thead{
					text-align:center;
					font-weight:bold;
					font-family: "Open Sans", serif;
					font-size:1.1em;
					text-transform:uppercase;
					tr{
					
					th{
						font-size:.6em;
						padding-left:5px;
						line-height:2em;
					}
				}
				}

				tbody{

					tr{
						padding: 5px 0;
						margin-bottom:10px;
						height:25px;
						color:$black;
						background-color:#cccccc;
						.cost{
							width:40px !important;
						}
						td{

							max-width:50px;
							font-size:1.1em;
							line-height:1.2em;
							padding:3px 0 3px 5px;
							border-bottom:white 10px solid;
						}
						.itemPrice{
							padding-left:20px;
						}
						.cartTotal{
							padding-left:20px;
						}
					}
				}
			}
	form{
		margin-top:10px;
		input[type="submit"]{
		
			}
		}

		a.checkout{
			@include button($color: $maroon, $text_color: $white);
			text-align:center !important;
			display:block;
			margin:50px auto;
			width:100px;
		}
		span.checkoutTwig{
			background-image:url("sm_stem_mobile.png");
			background-repeat:no-repeat;
	
			left:20%;
			bottom:3%;
			height:20%;
			display:block;
			position:absolute;
		
		}
		span.flip{
			right:20%;
			left:auto !important;
			bottom: 4%;
		  -moz-transform: scaleX(-1);
		     -o-transform: scaleX(-1);
		     -webkit-transform: scaleX(-1);
		     transform: scaleX(-1);
		     filter: FlipH;
		     -ms-filter: "FlipH";
		}
	}

	}

	// --------- ORDER REVIEW
	#orderInformation{
		width:90%;
		margin: auto;
		text-align:center;
		h4{
			font-size:2em;
			margin:20px;
		}
		p{
			font-family: "ofl", serif;
		}
	}

	div#orderItems{
		a.checkout{
			display:none;
		}
		#cartHead{
			padding-top:20px;
			text-align:center;
			font-family:"ofl", serif;
			text-transform:uppercase;
			color:$maroon;
			font-size:2em;
			display:none;
		}
		span.note{
			text-align:center;
			margin:20px auto;
			width:auto;
			display:block;
			color:$maroon;
			display:none;
		}
		.front-checkout{
		
			text-decoration:none;
		}
		.empty-cart{

			border:none;
			cursor:pointer;
		}
		h5{
			text-align:center;
			margin: 10px;

		}
		table{
			font-family: "Open Sans", serif;
			width:95%;
			margin:10px auto;
			text-align:center;
			tfoot{
				font-family: "Open Sans", serif;
				font-size:.6em;
				tr{
					td{
						font-family: "Open Sans", serif;
						font-size:1.9em;
						line-height:1.3em;
							font-weight:bold;
					}
				}
			}
			thead{
				text-align:center;
				font-weight:bold;
				font-family: "Open Sans", serif;
				font-size:1.1em;
				text-transform:uppercase;
				tr{
				
				th{
					font-size:.6em;
					padding-left:5px;
					line-height:1.2em;
				}
			}
			}

			tbody{

				tr{
					padding: 5px 0;
					margin-bottom:10px;
					height:25px;
					color:$black;
					background-color:#cccccc;
					.cost{
						width:40px !important;
					}
					td{

						max-width:50px;
						font-size:1.1em;
						line-height:1.2em;
						padding:3px 0 3px 5px;
						border-bottom:white 10px solid;
					}
					.itemPrice{
						padding-left:20px;
					}
					.cartTotal{
						padding-left:20px;
					}
				}
			}
		}
	
	}


	#grandTotal{
		text-align:center;
		font-size:30px;
		margin:20px auto;
	}
	// --------- RANDOM
	#overlay{
		width:100%;
		height:100%;
		display:block;
		background-color: rgba(#000, .7);
		position: fixed;
		top: 0px;
		z-index:998
	}



	.editable-container{
		z-index: 9999999;
		padding:0px 3px;
		form{
			z-index: 9999999;
			margin-top:0px !important;
			input{
				z-index: 9999999;
				width:20px;
			}
			button{
				display:none;
			}
		}
	}
	
	
	
	// CONTACT
	
	div#contactContent{
		width:50%;
	}
	
	
	// footer
	
	footer{
		padding-top:30px;
		font-size:3em;
	}
	
	
	
}