<aside id="cart" data-open=false>


	<div id="cartTrigger">
		<%= mobile_image "cart.png" %>
	</div>

	<div id="theCart">

			<%= render :partial => 'cart_table' %>

		<span id="closeCart" class="mobile">Close (X)</span>
	</div>
</aside>