<div id="variants">
<%= content_tag :h2, "Variations" %> 
	<ul>
		<% @product.variants.recent.each do |variant| %>
			<%= render :partial => 'variant', locals: {variant: variant} %>
		<% end %>
	
	
	</ul>
</div>